body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.header-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 60px;
}
header{
    width: 1200px;
}
.header-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 400px;
    height: 400px;
    border-radius: 15%;
}
header h1, header p{
    margin: 0;
    font-size: 42px;
    letter-spacing: 10px;
}
h1{
    font-weight: 600;
}
.main-content-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-wrapper{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.works-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-item{
    width: 30%;
    height: 300px;
    background-color: #cacaca;
    background-size: cover;
    border-radius: 10%;
    margin: 25px 0;
}
.item1{
    background-image: url("../img/Agnecy\ Landing\ Page_Main\ File.psd.png");
}
.item2{
    background-image: url("../img/Corporate\ Landing\ Page.psd.png");
}
.item3{
    background-image: url("../img/Main\ File-.psd.png");
}
.item4{
    background-image: url("../img/NOEMI_mq_desktop.psd.png");
}
.item5{
    background-image: url("../img/01_One\ Page.psd.png");
}
.item6{
    background-image: url("../img/Polly-nails.png");
}
.work-item a{
    display: block;
    width: 100%;
    height: 100%;
}
section{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 140px;
}
.second-container{
    justify-content: center;
}
svg{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
}

@media (max-width: 640px){
    body{
        background-color: #606060;
    }
    h1, h2, p{
        color: #fff;
    }
    .header-row{
        flex-direction: column;
    }
    .header-row img{
        width: 90vw;
        height: auto;
    }
    .header-title{
        text-align: center;
    }
    .works-container{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .work-item{
        width: 90vw;
        height: 90vw;
        margin-bottom: 30px;
    }
    section{
        width: auto;
    }
}
